
<div>
  <mat-form-field class="searchEle">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. India" #input>
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="capital">
    <mat-header-cell *matHeaderCellDef> Capital </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.capital}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="population">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Population </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.population}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="area">
    <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink='/moredetails/{{row.name}}' ></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
